<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="Public/main.css">
	<title>Cake</title>
</head>
<body>
<div class="nav">
            <a href="http://localhost:4567">Home</a>
            <a href="http://localhost:4567/cakes">Cakes</a>
            <a href="http://localhost:4567/cookies">Cookies</a>
            <a href="http://localhost:4567/muffins">Muffins</a>
            <a href="http://localhost:4567/">Pies</a>
            <a href="http://localhost:4567/contact">Contact</a>
            <a href="http://localhost:4567/special">Special Occasions</a>
    </div>
<h1>Cakes</h1>
<blockquote class="quotes">"My policy on cake is pro having it and pro eating it." ~ Bolanile Johnson</blockquote>



<%= yield%>




<script type="text/javascript" src="/Public/main.js"></script>
</body>
</html>


