<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="Public/main.css">
	<title>Cake</title>
</head>
<body>
 <div class="nav1">
            <a href="Home">Home</a>
            <a href="Cakes">Cakes</a>
            <a href="Cookies">Cookies</a>
            <a href="Muffins">Muffins</a>
            <a href="Pies">Pies</a>
            <a href="Contact">Contact</a>
            <a href="Special Occasions">Special Occasions</a>
    </div>
<h1>Cakes</h1>
<blockquote class="quotes">"My policy on cake is pro having it and pro eating it." ~ Bolanile Johnson</blockquote>



<%= yield%>




<script type="text/javascript" src="/Public/main.js"></script>
</body>
</html>


