
<h1>Cakes</h1>
    <div>
        <blockquote class="quotes">"My policy on cake is pro having it and pro eating it." ~ Bolanile Johnson</blockquote>
    </div>  
<% @allcake.each do |cake| %>
    <h2><%= cake.name %></h2>
    <div><img src="<%=cake.image%>"height="300" 
    width="300"></div>
    <h3><%=cake.description %></h3>
    <h4>Price: <%=cake.price %></h4>
<% end %>

