<% @allcookie.each do |cookie| %>
    <h1><%= cookie.name %></h1>
    <div><img src="<%=cookie.image%>"height="300" 
    width="300"></div>
    <h3><%=cookie.description %></h3>
    <h4>Price: <%=cookie.price %></h4>
     
<% end %>