<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/Public/main.css"> 
    <title>Byron's Bakery</title>
</head>


<h1 id="cupcake">Page Under Construction</h1>

<img class="cupcake" src="/Public/Images/cupcake1.png" alt="Cupcake" height="688" width="344">
<a href="http://localhost:4567">Back to Home Page</a>
