<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Byron's Bakery</title>
    <link rel="stylesheet" href="/Public/main.css">
	<title></title>
</head>
<body>
<%# <p class="logo">B<span id="flip">B</span></p> %>
    <h1>Bo's Bakery</h1>
<img src="/Views/tumblr_mre0lvhpln1rrseq9o1_500.gif" alt="Tiana">
    
    <div class="nav">
            <a href="Home">Home</a>
            <a href="Cakes">Cakes</a>
            <a href="Cookies">Cookies</a>
            <a href="Muffins">Muffins</a>
            <a href="Pies">Pies</a>
            <a href="Contact">Contact</a>
            <a href="Special Occasions">Special Occasions</a>
    </div>

    <%# <img src="logo.png" alt="logo"  width="100" height="100"> %>
    <h2>Cookies, Cakes, and Pies Oh My!!!!!!!!</h2>
    <h3>"This weeks specials French Macarons"<h3>
        
<h3>Cake dessert candy donut icing danish jelly beans bonbon brownie. Cake soufflé sweet carrot cake chocolate. Cotton candy brownie croissant chocolate cake jelly beans muffin sesame snaps. Lollipop tart fruitcake sesame snaps cake. Bonbon pudding pudding wafer lollipop gummies soufflé cupcake jelly. Pastry cotton candy tootsie roll candy canes biscuit pastry pie chocolate. Sesame snaps tiramisu sesame snaps chocolate cake candy canes. Wafer oat cake soufflé. Tart cookie biscuit donut soufflé chocolate. Tiramisu cookie muffin candy marzipan croissant sugar plum macaroon. Brownie sugar plum carrot cake marzipan chocolate cake. Cookie candy canes marzipan.</h3>



<script type="text/javascript" src="/Public/main.js"></script>
</body>
</html>