<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/Public/main.css">
    <title>Byron's Bakery</title>
</head>
<body>
        
    <div class="nav">
        <a href="http://localhost:4567">Home</a>
        <a href="http://localhost:4567/cake">Cakes</a>
        <a href="http://localhost:4567/cookie">Cookies</a>
        <a href="http://localhost:4567/muffin">Muffins</a>
        <a href="http://localhost:4567/pie">Pies</a>
        <a href="http://localhost:4567/cupcake">Cupcakes</a>
        <a href="http://localhost:4567/contact">Contact</a>
        <a href="http://localhost:4567/special">Special Occasions</a>
    </div>
        <div>
        <img src="/Public/Images/logo.png" alt="bakery" height="300" width="300">
        </div>
    <div class="header">     
    <h2>Cookies, Cakes and Pies, Oh My!!!</h2>
    <h3 class="special">This weeks special: French Macarons</h3>
    </div>

         <%# <div class="container"> %>
            <%# <div> %>
                <%# <img src="http://via.placeholder.com/250/ad8e5b/295c8a"> %>
                <%# <div class="desc">Add a description of the image here</div>
            </div> %>
                <%# <img src="http://via.placeholder.com/250/ad8e5b/295c8a">  %>
                <%# <div class="desc">Add a description of the image here</div>
            </div> %>
            <%# </div> %>
            <p>Byron developed a love for baking when he was just a child.        Cake dessert candy donut icing danish jelly beans bonbon            brownie. Cake soufflé sweet carrot cake chocolate. Cotton candy     brownie croissant chocolate cake jelly beans muffin sesame          snaps. Lollipop tart fruitcake sesame snaps cake. Bonbon            pudding pudding wafer lollipop gummies soufflé cupcake jelly.       Pastry cotton candy tootsie roll candy canes biscuit                The rest as they say is sweet and delicous history.</p>
            <%# <img src="http://via.placeholder.com/250/ad8e5b/295c8a">
            <%# <div class="desc">Add a description of the image here</div>
            </div> %>
            <%# <img src="http://via.placeholder.com/250/ad8e5b/295c8a"> %>
            <%# <div class="desc">Add a description of the image here</div>
            </div> %> 
         </div>   
    <footer>Byron's Bakery, 8956 Eclair Way, Madelaine, N.Y. Phone: 808-867-5309 Email: byronsbakery@butter.com
    <div>Coded and Design by: Code. Design. Surf.</div>
<footer>
<script type="text/javascript" src="/Public/main.js"></script>
</body>
</html>