<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel=”stylesheet”  href="/Public/main.css">
	<title>Cake, Cookies, Muffins</title>
</head>
<body>
    <div class="nav">
            <a href="http://localhost:4567">Home</a>
            <a href="http://localhost:4567/cake">Cakes</a>
            <a href="http://localhost:4567/cookie">Cookies</a>
            <a href="http://localhost:4567/muffin">Muffins</a>
            <a href="http://localhost:4567/pie">Pies</a>
            <a href="http://localhost:4567/cupcake">Cupcakes</a>
            <a href="http://localhost:4567/contact">Contact</a>
            <a href="http://localhost:4567/special">Special Occasions</a>
    </div>  

<%= yield%>

<script type="text/javascript" src="/Public/main.js"></script>
</body>
</html>


