<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="/Public/main.css">
	<title>Special Occasions</title>
</head>
<body>
<p>There is no request to unique for us to tackle.* Let us know about your special occasion and your design inpiration and we will come up with a cake to wow you and your guests. Submit your information below and someone will contact you within 24 hours. </p>


<form action="/contact" method="POST">
        <div>
          <label for="name">Name</label>
          <input type="name"  name="name"  placeholder="name">
        </div>  
        <div>
          <label for="email_address">Email Address</label>
          <input type="email" class="form-control" name="email" id="email_address" placeholder="name@example.com">
        </div>
        
        <div>  
            <select class="w3-select" name="search option">
                <option value="" disabled selected>Type of Occasion</option>
                <option value="bday">Birthday </option>
                <option value="retire">Retirement Party</option>
                <option value="wedding">Wedding</option>
                <option value="bridal">Bridal Shower</option>
                <option value="baby">Baby Shower</option>
                <option value="other">Other</option>
            </select>
        </div>
        <div class="form-group">
          <label for="text_area">Details</label>
        </div>
        <div>
          <textarea  name="opinion" rows="12" cols="70"></textarea>
        </div>
        <button type="submit" class="btn-primary">Submit</button>
      </form>

<h6>*Please contact us at least six (6) weeks in advance for planning and preparation. </h6>

<a href="http://localhost:4567">Back to Home Page</a>
</body>
</html>  

