<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/Public/main.css">
    <title>Byron's Bakery</title>
</head>

<h1 id="pie">Page Under Construction</h1>
<img class="pie" src="/Public/Images/pie1.png" alt="Pie" height="688" width="344">
<a href="http://localhost:4567">Back to Home Page</a>