body {
    color: #a883aa;
    font-family: 'Tangerine', cursive;
    font-size: 30px;
    background-color: #d3f1f0;
}

#flip {
    display: inline-block;
    vertical-align: top;
    transform: scaleX(-1);
    -ms-filter: fliph;
    filter: fliph;
}
 
/* span, .logo {
    font-size: 90px;
} */

.nav {
    float: right;
    overflow: hidden;
    background-color: #d6d17a;
    color: #fafafa;
    padding: 14px 16px;
   
    font-size: 37px;
}

.nav1 {
    text-align: center;
    overflow: hidden;
    background-color: #d6d17a;
    color: #fafafa;
    padding: 14px 16px;
    font-size: 37px;
}

a {
 text-decoration: none;
 color: #295c8a;
}

h1 {
    font-size: 90px;
}   

.quotes {
    color: #295c8a;
}   

.images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 80px;
    background-color: linear-gradient(to bottom, black 0%, black 50%, #000000 50%, white 50%, white 100%);
    border-bottom: 2px solid black;
}

footer {
    background-color: #ad8e5b;
    padding-top: px;
    padding-bottom: px;
    text-align: center;
}



.footer {
    color: #624970;
}
