body {
    color: #a883aa;
    font-family: 'Tangerine', cursive;
    font-size: 30px;
    background-color: #d3f1f0;
}

.nav {
    background-color: #ddd650;
    color: #fafafa;
    padding: 14px 16px;
    font-size: 37px;
}

a. hover {
    background-color: #295c8a;
}



a {
    text-decoration: none;
}

h1 {
    font-size: 90px;
}   

.quotes {
    color: #295c8a;
}   

.images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 80px;
    background-color: linear-gradient(to bottom, black 0%, black 50%, #000000 50%, white 50%, white 100%);
    border-bottom: 2px solid black;
}

.special {
    background-color:#9e687e;
    color: #fafafa;
}

footer {
    background-color: #ad8e5b;
    padding-top: px;
    padding-bottom: px;
    text-align: center;
}

#pie {
    text-align: center;
}


.pie {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#cupcake {
    text-align: center;
}

.cupcake {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.footer {
    color: #624970;
}
